aiofiles==0.8.0; python_version >= "3.7" and python_version < "4.0"
asyncpg==0.26.0; python_full_version >= "3.6.0"
attrs==22.1.0; python_version >= "3.5"
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
cffi==1.15.1; python_version >= "3.6"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
cleo==0.8.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
clikit==0.6.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
colorama==0.4.5; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0"
crashtest==0.3.1; python_version >= "3.6" and python_version < "4.0" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0")
cryptography==38.0.3; python_version >= "3.6"
httptools==0.4.0; python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.7" and python_version < "4"
loguru==0.6.0; python_version >= "3.5"
multidict==6.0.2; python_version >= "3.7"
nodeenv==1.7.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
pastel==0.2.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycryptodomex==3.15.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pylev==1.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pyright==1.1.269; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
sanic-routing==22.3.0; python_version >= "3.7"
sanic==22.6.2; python_version >= "3.7"
toml==0.10.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
ujson==5.4.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
urllib3==1.26.12; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
uvloop==0.16.0; python_version >= "3.7"
websockets==10.3; python_version >= "3.7"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
yarl==1.8.1; python_version >= "3.7"
